/** Mauxy **/
@font-face {
	font-family: 'Conv_Eraser';
	src: url('../fonts/Eraser.eot');
	src: local('â˜º'), url('../fonts/Eraser.woff') format('woff'), url('../fonts/Eraser.ttf') format('truetype'), url('../fonts/Eraser.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_OratorStd';
	src: url('../fonts/OratorStd.eot');
	src: local('â˜º'), url('../fonts/OratorStd.woff') format('woff'), url('../fonts/OratorStd.ttf') format('truetype'), url('../fonts/OratorStd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_League Gothic';
	src: url('../fonts/League Gothic.eot');
	src: local('â˜º'), url('../fonts/League Gothic.woff') format('woff'), url('../fonts/League Gothic.ttf') format('truetype'), url('../fonts/League Gothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BreeSerif-Regular';
	src: url('../fonts/BreeSerif-Regular.eot');
	src: local('â˜º'), url('../fonts/BreeSerif-Regular.woff') format('woff'), url('../fonts/BreeSerif-Regular.ttf') format('truetype'), url('../fonts/BreeSerif-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}