<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Go-Mango</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css">
<link href="/assets/fonts.css" rel="stylesheet" type="text/css">

</head>

	<body>
		<div class="maint">
		  <div class="headert">
		    <div class="logo"><img src="assets/logo.png" alt=""></div>
		    <div class="header-center">
		      <div class="menut">
      	<a href="/lobby">Lobby</a> 
      	<a href="/about" class="current">About</a> 
      	<a href="/tutorial">Tutorail</a>
      </div><div class="cofy"><a href="#">Like the Game? <br/>
		Buy Us a Coffee</a></div>
		    </div>
		    <div class="header-right">
		    <div class="social">
		    <div class="header-leftl"><a href="#">Logout</a></div>
		    </div>
		    		    
		    <div class='content-left'><h1>COMING SOON</h1></div>

		    </div>
		  </div>
		</div>
	</body>
</html>
