<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Mango Tango</title>
<link href="/assets/default.css" rel="stylesheet" type="text/css">
<link href="/assets/fonts.css" rel="stylesheet" type="text/css">
</head>
<br><br><br>
<body style="background-color:#7d7d7d">
<div class="login-out">
<div class="login-header">
<div class="login-header-left">
<div class="login-logo"><img src="/assets/logo.png" alt=""></div>
<div class="login-players players2"><span class="greent"><%= @players %></span> Players Online</div>
<div class="active-tables players2"> <span class="yellowt"><%= @current_games %></span> Active Tables</div>
<div class="tables-played players2"><span class="whitet"><%= @games %></span> Tables Played</div>
</div>
<div class="login-header-right"><img src="/assets/Background-copy.png" alt=""></div>

</div>

<div class="login-form">
<input type="text" class="username on_key_press" placeholder="Enter Username"  onclick='login($("#input")[0].value)'>
<input type="password" class="password on_key_press" placeholder="Enter Password"  onclick='login($("#input")[0].value)'>
<div class="login-text">

<input type="checkbox" class="checkbox"><div class="remember"> Remember me</div>
<div class="forget"><a href="#">Erm... I forgot my password...</a></div></div>
<div class="social-btn">
<div class="fb"><a href="#"><img src="/assets/log-in.png" alt=""></a></div><div class="log-in"><a href="#"><img src="/assets/fb.png" alt=""></a></div></div>
<div class="guest"> Or Play as a Guest!</div>
<div class="guest-login">
<input type="text" class="guest-form" placeholder="What is your name?"><input type="submit" class="guest-button">
<div></div></div>
</div>
<div class="footer blackt">
© 2013 LATER, MAU. ALL RIGHTS RESERVED.</div>
<div class="clrt"></div>
</div>

</body>
</html>
<script>
	$(function() {
		$('.on_key_press').on('keypress', function(e) { 
			console.log(e);
			if(e.keyCode == 13) 
				login($('.username').val());
		});
	});
	function login(input) {
		window.location.href= "/user/login/" + input;
	}
	
	function register(input) {
		window.location.href= "/user/register/" + input;
	}
</script>

