<div id="round_info" class="box-top-right">
  <div class="namet">Round:</div>
  <div class="valuet"><%= @game.current_round %>/<%= @game.max_rounds %></div>
  <div class="namet greyt">The Judge:</div>
  <div class="valuet whitet"><%= @judge.name %></div>
</div>