<div id="words_used" class="grey-box">
	<strong>Cards Used:</strong> 
	<%= Word.joins(:cards).where('cards.player_id = (?) AND cards.game_id = (?) AND cards.used > 0', @player.id, @game.id).pluck(:word).join(",")%>
</div>